<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coal Rank Prediction</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="visuals">
            <img class="image" src="../static/images/lignite.jpg" alt="Bituminous Coal Pic">
            <p class="attr">By James St. John - https://www.flickr.com/photos/jsjgeology/8512397381/in/album-72157632870063067/</p>
        </div>
        <div class="content">
            <div class="result">
                <h1>Lignite</h1>
            </div>
            <div class="brief">
                <p>
                    Lignite, often referred to as brown coal, is a soft, brown, combustible, sedimentary
                    rock formed from naturally compressed peat. It has a carbon content around 25–35%, and
                    is considered the lowest rank of coal due to its relatively low heat content. When removed
                    from the ground, it contains a very high amount of moisture which partially explains its
                    low carbon content. Lignite is mined all around the world and is used almost exclusively
                    as a fuel for steam-electric power generation.
                </p>
                <p>
                    The combustion of lignite produces less heat for the amount of carbon dioxide and sulfur
                    released than other ranks of coal. As a result lignite is the most harmful coal to human
                    health. Depending on the source, various toxic heavy metals, including naturally
                    occurring radioactive materials may be present in lignite which are left over in the coal
                    fly ash produced from its combustion, further increasing health risks.
                </p>
                <p>Source: <a href="https://en.wikipedia.org/wiki/Lignite">Wikipedia</a></p>
            </div>
            <div class="redirect">
                <form action="/predict_again"><button type="submit" class="btn btn-primary btn-lg">Predict Again</button></form>
            </div>
        </div>
    </div>
</body>
</html>